@use "common/mixins";

.header {
  @include mixins.flex-column;
  @include mixins.flex-centered;
  font-size: 2.5rem;
  flex-grow: 2;

  @media (max-width: 768px) {
    flex-grow: 1;
  }

  &-title {
    text-align: center;
  }
}

main {
  @include mixins.flex-column;
  flex-grow: 1;

  @media (max-width: 768px) {
    margin-top: 2em;
  }
}
