@use "common/colors";
@use "common/mixins";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100vh;
  font-family: "Lato", sans-serif;
  color: colors.$color-primary;
  background-color: colors.$color-background;

  @media (max-width: 768px) {
    font-size: 0.7rem;
  }
}

body {
  height: 100dvh;
}

#root {
  @include mixins.flex-column;
  height: 100%;
}

a {
  text-decoration: none;
  color: colors.$color-link;

  &:hover {
    color: colors.$color-link-hover;
  }
}

.icon {
  &-inverted {
    filter: invert(100%);
  }
}
