@mixin _flex-base {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-column {
  @include _flex-base;
  flex-direction: column;
}

@mixin flex-row {
  @include _flex-base;
  flex-direction: row;
}
